@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  /* ------ Services and prices ------ */

  .services {
    background-image: url(../image/services-bg-desktop.png);
    background-color: #111319;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .services{
        background-image: url(../image/services-bg-desktop-2x.png);
    }
  }
  .services-container {
    display: flex;
    gap: 30px;
  }
  .services-list {
    width: calc((100% - 30px) / 2);
    padding: 30px 20px;
    margin-bottom: 44px;
  }
  .services-list:first-child {
    background-image: linear-gradient(
      180deg,
      #171a24 0%,
      rgba(23, 26, 36, 0.2) 100%
    );
  }
  .services-list:last-child {
    background-image: linear-gradient(
      180deg,
      #090b13 0%,
      rgba(9, 11, 19, 0.2) 100%
    );
  }
  .services-text {
    color: var(--secondary-text-color);
    font-size: 18px;
    line-height: 1.67;
  }

  /* ------ Benefits ------ */

  .benefits .container {
    display: flex;
    padding-left: 85px;
  }
  .benefits-container {
    padding-left: 130px;
  }

  /*------ Subscribe ------ */

  .contact-wrap {
    max-width: 100%;
    margin: 0 auto;
  
    background-color: #191c26;
    background-image: url(../image/background-contacts.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: calc(50% - 15px) 100%;
  }
  .contact-wrap .container {
    display: flex;
  }
  .subscription {
    width: calc(50% + 15px);
    padding-top: 130px;
    padding-bottom: 120px;
  }
}