/* основной цвет текста #555555 */
/* цвет заголовков #303030 */
/* вторичный цвет #9DA4BD */
/* акцент цвет #FF6C00 */

/* основной шрифт OpenSans */
/* вторичный шрифт Raleway */
:root {
  --primary-text-color: #555555;
  --title-text-color: #303030;
  --secondary-text-color: #9da4bd;
  --accent-color: #ff6c00;
}
html {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  padding-left: 0;
}
body {
  background-color: #ffffff;

  color: var(--primary-text-color);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
}
.container {
  margin-right: auto;
  margin-left: auto;
}
.list {
  list-style: none;
  margin: 0;
}
.link {
  text-decoration: none;
}
.btn {
  min-width: 160px;
  padding: 12px 20px;

  color: #ffffff;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  cursor: pointer;
  text-transform: uppercase;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 25px;
}
.suptitle {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  gap: 20px;

  color: var(--title-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.suptitle::before {
  content: "";
  width: 60px;
  height: 1px;

  background-color: currentColor;
}
.title {
  color: var(--title-text-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
}
img {
  display: block;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ------ Header ------ */

.header {
  position: absolute;
  width: 100%;
  padding-top: 40px;
}
.header .container {
  display: flex;
  align-items: center;
  
  padding-left: 31px;
  padding-right: 31px;
}
.header-nav {
  display: flex;
  margin-right: auto;
}
.header-logo {
  color: #ffffff;
}
.header-logo > svg {
  fill: currentColor;
}
.mob-menu-btn {
  display: block;
  border: none;
  background-color: transparent;
  color: #ffffff;
}
.mob-menu-btn > svg {
  fill: currentColor;
}
.header-list {
  display: none;
}
.header-contacts {
  display: none;
}

/* ------ Mobile menu ------ */

.mob-menu {
  position: fixed;
  top: 0;
  right: 0;

  width: 62%;
  height: 100vh;
  padding-top: 48px;
  padding-left: 40px;

  background-color: #ffffff;
}
.menu-container {
  max-width: 266px;
}
.btn-close {
  display: block;
  width: 40px;
  height: 40px;

  margin-left: auto;
  margin-bottom: 30px;
  padding: 0;

  color: #000000;
  border: none;
  background-color: transparent;
}
.btn-close:focus {
  color: var(--accent-color);
}
.btn-close > svg {
  fill: currentColor;
}
.mob-menu-nav {
  margin-bottom: 64px;
}
.mob-menu-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mob-menu-link,
.mob-menu-tel {
  color: var(--title-text-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.38;
  letter-spacing: 0.1em;
}
.mob-menu-link:focus,
.mob-menu-tel:focus,
.menu-soc-link:focus {
  color: var(--accent-color);
}
.mob-menu-contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 64px;
}
.mob-btn {
  max-width: 198px;
  padding: 12px 37px;

  color: var(--title-text-color);
  font-size: 12px;
  letter-spacing: 0.09em;
}
.mob-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
.menu-soc-list {
  position: relative;

  padding-left: 100px;
}
.menu-soc-list::before {
  position: absolute;
  top: 13px;
  left: 0;

  content: "";
  width: 60px;
  height: 1px;

  background-color: currentColor;
}
.menu-soc-link {
  color: var(--title-text-color);
  font-weight: 600;
  line-height: 1.35;
}

/* ------ Hero ------ */

.hero {
  padding-top: 0;
  padding-bottom: 0;
}
.hero-soc {
  display: none;
}
.hero-container-bg {
  max-width: 480px;
  padding: 208px 128px 209px 31px;
  flex-grow: 1;

  background-image: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    ),
    url("../image/hero-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero-suptitle {
  color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  margin-bottom: 20px;

  color: #ffffff;
  font-size: 48px;
}
.hero-subtitle {
  max-width: 360px;

  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.62;
}

/* ------ About us ------ */

.about .container {
  display: flex;
}
.about-list {
  display: flex;
  gap: 30px;
  width: calc((100% - 30px) / 2);
  flex-shrink: 0;
}
.about-container {
  max-width: 470px;
  padding-left: 30px;
  padding-right: 100px;
}
.about-title {
  margin-bottom: 20px;
}
.about-subtitle {
  margin-bottom: 20px;

  font-size: 18px;
  line-height: 1.66;
}
.about-text {
  margin-bottom: 42px;
}
.about-btn {
  color: var(--title-text-color);
}

/* ------ Services and prices ------ */

.services {
  max-width: 1600px;
  margin: 0 auto;

  background-image: url(../image/background-services.png);
  background-color: #111319;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.services-suptitle {
  color: rgba(157, 164, 189, 0.6);
}
.services-title {
  margin-bottom: 42px;

  color: #ffffff;
}
.services-container {
  display: flex;
  gap: 30px;
}
.services-list {
  width: calc((100% - 30px) / 2);
  padding: 30px 20px;
  margin-bottom: 44px;
}
.services-list:first-child {
  background-image: linear-gradient(
    180deg,
    #171a24 0%,
    rgba(23, 26, 36, 0.2) 100%
  );
}
.services-list:last-child {
  background-image: linear-gradient(
    180deg,
    #090b13 0%,
    rgba(9, 11, 19, 0.2) 100%
  );
}
.services-item {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 12px;
}
.services-item::before {
  content: "";
  flex-grow: 1;
  height: 1px;

  background-color: rgba(157, 164, 189, 0.12);
}
.services-item:not(:last-child) {
  margin-bottom: 20px;
}
.services-text {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 1.67;
}
.services-text:first-child {
  order: -1;
}
.services-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* ------ Benefits ------ */

.benefits .container {
  display: flex;
  padding-left: 85px;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  column-gap: 30px;
  text-align: center;
}
.benefits-item {
  box-sizing: border-box;
  width: 170px;
  height: 133px;
  padding: 20px 24px;

  background-color: #f7f7f7;
}
.benefits-item:nth-child(2n) {
  margin-top: 35px;
}
.benefits-numbers {
  position: relative;
  margin-bottom: 6px;

  color: var(--title-text-color);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
}
.benefits-numbers::after {
  content: "+";
  position: absolute;
  top: 7px;

  color: var(--accent-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}
.benefits-text {
  color: var(--title-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
}
.benefits-container {
  padding-left: 130px;
}
.benefits-title {
  margin-bottom: 20px;
  max-width: 430px;
}
.benefits-subtitle {
  max-width: 500px;
  font-size: 18px;
  line-height: 1.17;
}

/* ------ Barbers ------ */

.barbers {
  background-color: #f7f7f7;
}
.barbers-title {
  margin-bottom: 44px;
}
.barbers-list {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
.barbers-item > img {
  margin-bottom: 30px;
}
.barbers-item-title {
  margin-bottom: 8px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 1.39;
}
.barbers-item-text {
  margin-bottom: 30px;

  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.36;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;

  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: #ffffff;
  border-radius: 50%;
}
.social-link:is(:hover, :focus) {
  color: var(--accent-color);
}
.social-link > svg {
  fill: currentColor;
}

/* ------ Portfolio ------ */

.portfolio-suptitle {
  margin-bottom: 44px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.portfolio-item {
  width: calc((100% - 90px) / 4);
}

/*------ Subscribe ------ */

.subscription {
  width: calc(50% + 15px);
  padding-top: 130px;
  padding-bottom: 120px;
}
.subscription-title {
  margin-bottom: 44px;

  color: #ffffff;
}
.input-group {
  margin-bottom: 44px;
  display: flex;
}
.online-input {
  width: 270px;
  height: 24px;
  padding: 0;
  padding-bottom: 8px;
}
.online-input:not(:last-child) {
  margin-right: 30px;
}
.online-text {
  width: 570px;
  height: 76px;
  resize: none;
  margin-bottom: 44px;
  padding: 0;
}
.online-item {
  color: #ffffff;
  outline: transparent;
  border: none;
  border-bottom: 1px solid rgba(157, 164, 189, 0.4);
  background-color: transparent;

  transition: border-color 250ms linear;
}
.online-item::placeholder {
  color: rgba(157, 164, 189, 0.4);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  transition: color 250ms linear;
}
.online-item:focus {
  border-color: #ffffff;
}
.online-item:focus::placeholder {
  color: #ffffff;
}

/*------ Contacts ------ */

.contact-wrap {
  max-width: 1600px;
  margin: 0 auto;

  background-color: #191c26;
  background-image: url(../image/background-contacts.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: calc(50% - 15px) 100%;
}
.contact-wrap .container {
  display: flex;
}
.contacts {
  box-sizing: border-box;
  width: calc(50% - 15px);
  padding-top: 130px;
  padding-bottom: 120px;
  padding-left: 100px;
}
.contacts-title {
  margin-bottom: 40px;

  color: #ffffff;
}
.contacts-adress {
  font-style: normal;
}
.contacts-list {
  margin-bottom: 70px;

  color: var(--secondary-text-color);
}
.contacts-item {
  margin-bottom: 20px;
}
.contacts-link.bold {
  font-weight: 700;
}
.contacts-link {
  display: flex;
  align-items: center;

  color: var(--secondary-text-color);
  font-style: normal;
  font-size: 18px;
  line-height: 1.66;
}
.contacts-link > svg {
  margin-right: 16px;
}
.contacts-text {
  display: flex;
  align-items: center;
  gap: 20px;

  color: #ffffff;
  text-transform: uppercase;
}
.contacts-text::before {
  content: "";
  width: 60px;
  height: 1px;

  background-color: rgba(157, 164, 189, 0.4);
}
.contacts-schedule {
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 1.66;
}

/* ------ Footer ------ */

.footer {
  padding-top: 56px;
  padding-bottom: 56px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-copyright {
  color: var(--secondary-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
.footer-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.footer-list::before {
  content: "";
  width: 60px;
  height: 1px;

  background-color: currentColor;
}
.footer-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--title-text-color);
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
}
.footer-link:is(:hover, :focus) {
  color: var(--accent-color);
}

/* ----- Modal window ----- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  transition: visibility 500ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(250%, 150%) rotate(-180deg);
}
.modal {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0);

  width: 408px;
  height: 584px;
  padding: 72px 24px 24px;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);

  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

/* ----- Modal form ----- */

.title-modal {
  margin-top: 0;
  margin-bottom: 14px;

  text-align: center;

  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}
.form-wrap {
  position: relative;
  margin-bottom: 8px;

  color: var(--title-text-color);
}
.form-label {
  display: block;
  margin-bottom: 4px;

  color: #8e8f99;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form-input {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  padding: 11px 11px 11px 38px;

  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-input:focus,
.form-textarea:focus {
  border-color: var(--accent-color);
}
.form-input:focus + .icon-form {
  color: var(--accent-color);
}
.icon-form {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 19px;

  fill: currentColor;
}
.form-textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  resize: none;
  margin-bottom: 16px;

  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.form-textarea::placeholder {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}
.form-accept {
  display: flex;
  margin-bottom: 24px;

  color: #757575;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
}
.form-accept::before {
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 8px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);

  border: 1.25px solid #2e2f42;
  border-radius: 2px;
}
.form-checkbox:checked + .form-accept::before {
  border-color: transparent;

  background-color: var(--accent-color);
  background-image: url(../image/icon-check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.privacy-police-link {
  margin-left: 3px;
  color: var(--accent-color);
}
.form-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.form-btn:is(:hover, :focus) {
  background-color: rgb(255, 60, 0);
}