/* основной цвет текста #555555 */
/* цвет заголовков #303030 */
/* вторичный цвет #9DA4BD */
/* акцент цвет #FF6C00 */

/* основной шрифт OpenSans */
/* вторичный шрифт Raleway */

:root {
    --primary-text-color: #555555;
    --title-text-color: #303030;
    --secondary-text-color: #9DA4BD;
    --accent-color: #FF6C00;
}
body {
    background-color: #FFFFFF;
    color: var(--primary-text-color);

    font-family: Open Sans, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

.btn {
    background-color: transparent;
    color: #FFFFFF;

    font-family: inherit;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    cursor: pointer;

    border-color: var(--accent-color);
    border-radius: 10px;
}

/* ------ Header ------ */
.header {
    background-color: gray;
}
.header-link,
.header-tel {
    color: #FFFFFF;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
}
.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus {
    color: var(--accent-color);
}

/* ------ Hero ------ */
